@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    
}

.Card__contact {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: hsl(30, 38%, 92%);
}
.card {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    width: 650px;
    border-radius: 10px;
}
.card .card_img{
  height: 500px;
  width: 50%;
  border-radius: 10px 0px 0px 10px;
}
.info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    height: 500px;
    padding: 30px;
}
.text {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);
    letter-spacing: 7px;
    margin-bottom: 20px;
}
.title {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 20px;
}
.text-2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    color: hsl(228, 12%, 48%);
}
.price {
    display: flex;
    align-items: center;
}
.price-1 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 16px;
    color:  hsl(158, 36%, 37%);
    margin-right: 20px;
}
.price-2 {
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}
.add {
    background-color:  hsl(158, 36%, 37%);
    width: 100%;
    text-align: center;
    padding: 12px 24px;
    border-radius: 7px;
    text-decoration: none;
    color:  hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.add:hover{
    background-color: hsl(158, 36%, 25%);
}
.add img{
  height: 15px;
  width: 15px;
  margin-right: 5px;
  transform: scale(-1, 1); 
}

@media (max-width:600px) {
.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    width: 400px;
    position: relative;
   overflow:hidden;
   width:400px;
}
.card .card_img{
  height: 300px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
}